fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-qdrant

langgraph
langgraph-prebuilt

qdrant-client
fastembed
pymupdf